.line {
  border: 0.6px solid #dbdbdb;
}

.learnsmarter {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-content: space-between;
  align-items: center;
}
.learnsmarter-info_line {
display: flex;
flex-direction: column;
gap:30px;
}
.learnsmarter-info {
    display: flex;
    flex-direction: column;
    gap:15px;
}
.users_count .circle1 {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #eb753b;
}
.users_count .circle2 {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #143aa0;
}

.user_count_con {
    display: flex;
    gap: 40px;
}
.users_count number {
  font-weight: 600;
  font-size: 30px;
  font-weight: bold;
}

.users_count p {
    color: #877F7F;
    font-weight: 600;
    font-size: 12px;
    
}

.user_count_con {
  display: flex;
}

.learnsmarter-info {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.learnsmarter-info h1 {
  color: #143aa0;
  font-weight: 600;
}
.learnsmarter-info p {
  color: #5d7286;
  font-size: 14px;
  font-weight: 500;
margin-bottom: 0px;
}


.images {
  display: flex;
  justify-content: end;
}

.images img {
  width: 100%;
}

@media (min-width: 992px) {
  /* Large devices (desktops, 992px and up) */
  .w-lg-80 {
    width: 90%;
  }
}

@media (max-width: 576px) {
  /* Small devices (landscape phones, less than 576px) */
  .w-sm-100 {
    width: 100%;
  }
}