.icons-width {
  width: 20px;
  height: 20px;
}


.nav_menus {
  display: flex;
  flex: 0.8;
  justify-content: space-between;
  align-items: center;
  color: #5D7286;
  font-weight: 600;
}
.nav {
    height: 10vh;
}

.nav_menus .active {
    border-bottom: 2px solid #5D7286;
}
.nav_menus h {
    cursor: pointer;
}

.login-btn {
    color: #143AA0;
    font-weight: bold;
}

.signup-btn {
    display: flex;
    align-items: center;
  color: white;
  font-weight: bold;
  background-color: #143AA0;
  padding:5px  20px 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}